*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

body{

background:#030712;

color:white;

}

/* HERO */

.hero{

width:100%;

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:140px 8%;

gap:70px;

}

.hero-left{

flex:1;

}

.badge{

display:inline-block;

padding:12px 22px;

background:#111827;

border-radius:30px;

color:#60A5FA;

margin-bottom:30px;

font-size:15px;

}

.hero h1{

font-size:76px;

line-height:1.1;

margin-bottom:30px;

}

.hero span{

color:#4F46E5;

}

.hero p{

font-size:20px;

line-height:1.9;

color:#CBD5E1;

margin-bottom:40px;

max-width:650px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.primary-btn{

padding:18px 34px;

border:none;

border-radius:12px;

background:#4F46E5;

color:white;

font-size:18px;

cursor:pointer;

}

.secondary-btn{

padding:18px 34px;

background:transparent;

border:2px solid #4F46E5;

border-radius:12px;

color:white;

font-size:18px;

cursor:pointer;

}

.hero-right{

flex:1;

display:flex;

justify-content:center;

}

.dashboard{

width:520px;

background:#111827;

border-radius:25px;

padding:30px;

box-shadow:0 20px 60px rgba(0,0,0,.45);

}

.top-bar{

font-size:28px;

font-weight:600;

margin-bottom:30px;

}

.dashboard-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.dashboard-card{

background:#1F2937;

padding:35px;

border-radius:18px;

}

.dashboard-card h3{

color:#60A5FA;

margin-bottom:15px;

}

.dashboard-card h2{

font-size:36px;

}
/* =========================
BACKGROUND
========================= */

body{

background:
radial-gradient(circle at top left,#1E1B4B 0%,transparent 35%),
radial-gradient(circle at bottom right,#0F766E 0%,transparent 30%),
#030712;

}